<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Scanner Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="icon" href="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/36bcf6bb32a8d786a8325a269b69ea6a" type="image/x-icon" />
</head>
<body>
<label for="modal-button" class="modal-button">View Checked Out Scanners</label>
<input type="checkbox" id="modal-button">
<div class="modal">
    <div class="modal-inner">
        <label for="modal-button" class="modal-button modal-button-close">Close View</label>

        <table class="table">
            <thead>
            <tr>
                <th>User Id</th>
                <th>Scanner Id</th>
                <th>Time Scanned Out</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${data}">
                <td th:text="${entry.userId}"></td>
                <td th:text="${entry.scannerId}"></td>
                <td th:text="${entry.lastScanString}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container app">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p id="guideTxt" class="guide"></p>
        </div>
    </div>
    <form autocomplete="off" id="form" action="/scan" method="post" >
        <div class="row">
            <div class="col-sm-6 text-center inputArea">
                <div class="form-group">
                    <label for="user">User:</label><br/>
                    <input autofocus="autofocus" class="ID" id="user" type="text" name="userID">
                </div>
            </div>
            <div class="col-sm-6 text-center inputArea">
                <div class="form-group">
                    <label for="scanner">Scanner:</label><br/>
                    <input class="ID" id="scanner" type="text" name="scannerID">
                </div>
            </div>
        </div>
    </form>
</div>

<script src="javascript/script.js"></script>

</body>
</html>